body {
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none !important;
  box-shadow: none !important;
  color: dodgerblue;
}

.bodycontent {
  background-color: rgb(243, 244, 246, var(--tw-bg-opacity, 1));
}
.bodycontent > .row {
  height: 100%;
  min-height: 100vh;
}

.component-wrapper {
  position: relative;
}
.component-wrapper:hover .removeOnBuild {
  opacity: 1;
}

.removeOnBuild {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.removeOnBuild .remove-btn {
  padding: 0;
  font-size: 0;
  width: 24px;
  height: 24px;
  background-image: url(../builderImages/remove.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
.removeOnBuild .edit-btn {
  padding: 0;
  font-size: 0;
  width: 24px;
  height: 24px;
  background-image: url(../builderImages/edit.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
.removeOnBuild.componentHoverMarker {
  border: 3px dotted red;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  border: 1px solid #dddddd;
}

.components {
  padding: 10px;
  position: relative;
  z-index: 3;
  max-height: 100vh;
}
.components h5 {
  margin-bottom: 0;
}
.components::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  left: 100%;
  top: 0;
  height: 100%;
  background-color: #eeeeee;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 0;
}
.components.expand::after {
  width: 75vw;
  opacity: 1;
}
.components .newcomponentbtn {
  padding: 0;
  position: relative;
  width: 22px;
  height: 22px;
  display: block;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.components .newcomponentbtn:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 18px;
  width: 18px;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  background-image: url(../builderImages/add.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(0) saturate(100%) invert(28%) sepia(95%) saturate(3270%) hue-rotate(212deg) brightness(104%) contrast(98%);
}
.components .newcomponentbtn:hover {
  background-color: #0b5ed7;
}
.components .newcomponentbtn:hover::after {
  filter: brightness(0) invert(1);
}

.website {
  padding: 10px;
  max-height: 100vh;
}

.previewDiv {
  padding: 0;
  border: 2px dashed #ccc;
  overflow: auto;
}

.componentsList .toggleItem {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin-bottom: 5px;
}
.componentsList .toggleItem .toggleTitle {
  padding: 5px;
}
.componentsList .toggleItem .previewerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.componentsList .toggleItem .previewerOverlay.show {
  opacity: 1;
  visibility: visible;
}
.componentsList .toggleItem .previewerOverlay.show .previewComponents .item,
.componentsList .toggleItem .previewerOverlay.show .previewComponents .close {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}
.componentsList .toggleItem .previewerOverlay .previewComponents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  overflow: none;
  height: 90%;
  width: 90%;
  padding-top: 10px;
}
.componentsList .toggleItem .previewerOverlay .previewComponents .itemsList {
  height: 92%;
  overflow: auto;
  padding: 10px;
}
.componentsList .toggleItem .previewerOverlay .previewComponents .itemsList::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.componentsList .toggleItem .previewerOverlay .previewComponents .itemsList::-webkit-scrollbar {
  width: 3px;
}
.componentsList .toggleItem .previewerOverlay .previewComponents .itemsList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(179, 174, 174, 0.8);
}
.componentsList .toggleItem .previewerOverlay .previewComponents .item,
.componentsList .toggleItem .previewerOverlay .previewComponents .close {
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.componentsList .toggleItem .previewerOverlay .previewComponents .close {
  display: block;
  margin-bottom: 10px;
  text-align: right;
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding-right: 50px;
  position: relative;
}
.componentsList .toggleItem .previewerOverlay .previewComponents .close::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../builderImages/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.componentsList .toggleItem .previewerOverlay .previewComponents .close:hover {
  transition-delay: 0;
  opacity: 0.5 !important;
}
.componentsList .toggleItem .item {
  position: relative;
  margin-bottom: 25px;
  background-color: white;
  border: 2px solid rgba(179, 174, 174, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
.componentsList .toggleItem .item:last-child {
  margin: 0;
}
.componentsList .toggleItem .item .preview {
  overflow: hidden;
}
.componentsList .toggleItem .item .componentCardBottom {
  padding: 10px;
  border-top: 1px solid #dddddd;
}
.componentsList .toggleItem .item .actions .btn-primary,
.componentsList .toggleItem .item .actions .usedspan {
  transition: opacity 0.3s ease-in-out;
}
.componentsList .toggleItem .item .actions .usedspan {
  opacity: 0;
  visibility: hidden;
}
.componentsList .toggleItem .item .actions.used .btn-primary {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transform-origin: 100% 50%;
  width: 0;
  font-size: 0;
  padding: 0;
}
.componentsList .toggleItem .item .actions.used .usedspan {
  opacity: 1;
  visibility: visible;
}
.componentsList .toggleItem .item .addbtn {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
}
.componentsList .toggleItem .item .addbtn:hover {
  opacity: 0.5;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.popup.show {
  opacity: 1;
  visibility: visible;
}
.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  min-width: 50vw;
  max-height: 90vh;
  max-width: 90vw;
}
.popup .content .close {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  background-image: url(../builderImages/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.3s ease-in-out;
}
.popup .content .close:hover {
  opacity: 0.5;
}
.popup form textarea {
  height: 230px;
  resize: none;
}
.popup form .is-invalid {
  border-color: var(--bs-form-invalid-border-color);
  padding-right: calc(1.5em + 0.75rem);
  background-image: url(../builderImages/invalid.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.toast.success {
  background-color: rgba(221, 243, 213, 0.6);
  border: rgba(157, 220, 134, 0.6) 2px solid;
  color: rgb(81, 173, 51);
}
.toast.failure {
  background-color: rgba(236, 200, 197, 0.6);
  border: rgba(211, 127, 120, 0.6) 2px solid;
  color: rgb(184, 60, 55);
}
.toast .toast-body {
  padding: 10px;
}

.hideScrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.hideScrollbar::-webkit-scrollbar {
  width: 3px;
}
.hideScrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(179, 174, 174, 0.8);
}

.elementsTreePopup,
.elementEditorPopup,
.stylesEditorPopup {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgb(243, 244, 246, var(--tw-bg-opacity, 1));
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 25%;
  height: 100%;
}
.elementsTreePopup .content,
.elementEditorPopup .content,
.stylesEditorPopup .content {
  width: 100%;
  position: relative;
  transform: none;
  left: 0;
  top: 0;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  border: 1px solid #dddddd;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}
.elementsTreePopup .content .back,
.elementEditorPopup .content .back,
.stylesEditorPopup .content .back {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding-left: 17px;
}
.elementsTreePopup .content .back.close,
.elementEditorPopup .content .back.close,
.stylesEditorPopup .content .back.close {
  background: none;
  height: auto;
  width: auto;
}
.elementsTreePopup .content .back.close::before,
.elementEditorPopup .content .back.close::before,
.stylesEditorPopup .content .back.close::before {
  width: 10px;
  height: 10px;
  background-image: url(../builderImages/close-blue.svg);
}
.elementsTreePopup .content .back::before,
.elementEditorPopup .content .back::before,
.stylesEditorPopup .content .back::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url(../builderImages/back.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}
.elementsTreePopup .content .back:hover,
.elementEditorPopup .content .back:hover,
.stylesEditorPopup .content .back:hover {
  opacity: 0.5;
}
.elementsTreePopup .content .popuphead .hint,
.elementEditorPopup .content .popuphead .hint,
.stylesEditorPopup .content .popuphead .hint {
  font-size: 12px;
  line-height: 12px;
  opacity: 0.6;
  font-style: italic;
}
.elementsTreePopup .content ul,
.elementEditorPopup .content ul,
.stylesEditorPopup .content ul {
  padding: 0;
  font-size: 14px;
}
.elementsTreePopup .content ul li,
.elementEditorPopup .content ul li,
.stylesEditorPopup .content ul li {
  list-style-type: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.elementsTreePopup .content ul li ul,
.elementEditorPopup .content ul li ul,
.stylesEditorPopup .content ul li ul {
  display: none;
  margin-left: 5px;
}
.elementsTreePopup .content ul li .liTitle,
.elementEditorPopup .content ul li .liTitle,
.stylesEditorPopup .content ul li .liTitle {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  line-height: 16px;
}
.elementsTreePopup .content ul li .liTitle .groupToggle,
.elementEditorPopup .content ul li .liTitle .groupToggle,
.stylesEditorPopup .content ul li .liTitle .groupToggle {
  width: 10px;
  height: 10px;
  flex: 0 0 10px;
  position: relative;
  margin-right: 5px;
  cursor: pointer;
}
.elementsTreePopup .content ul li .liTitle .groupToggle::before,
.elementEditorPopup .content ul li .liTitle .groupToggle::before,
.stylesEditorPopup .content ul li .liTitle .groupToggle::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3px;
  left: 0%;
  transform: rotateZ(-90deg);
  background-image: url(../builderImages/downarrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}
.elementsTreePopup .content ul li.expanded > .liTitle .groupToggle::before,
.elementEditorPopup .content ul li.expanded > .liTitle .groupToggle::before,
.stylesEditorPopup .content ul li.expanded > .liTitle .groupToggle::before {
  transform: rotateZ(0);
}
.elementsTreePopup .content ul li.singleElement,
.elementEditorPopup .content ul li.singleElement,
.stylesEditorPopup .content ul li.singleElement {
  padding-left: 15px;
  position: relative;
}
.elementsTreePopup .content ul li.singleElement::before,
.elementEditorPopup .content ul li.singleElement::before,
.stylesEditorPopup .content ul li.singleElement::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1px;
  background-color: black;
  width: 10px;
}
.elementsTreePopup .content ul li.singleElement::after,
.elementEditorPopup .content ul li.singleElement::after,
.stylesEditorPopup .content ul li.singleElement::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: black;
  width: 1px;
}
.elementsTreePopup .content ul li.singleElement:last-child::after,
.elementEditorPopup .content ul li.singleElement:last-child::after,
.stylesEditorPopup .content ul li.singleElement:last-child::after {
  height: 50%;
}
.elementsTreePopup .content .styles-container .style-group,
.elementEditorPopup .content .styles-container .style-group,
.stylesEditorPopup .content .styles-container .style-group {
  margin-bottom: 10px;
  border-left: 2px solid #ccc;
  padding-left: 10px;
}
.elementsTreePopup .content .styles-container .style-group .style-row,
.elementEditorPopup .content .styles-container .style-group .style-row,
.stylesEditorPopup .content .styles-container .style-group .style-row {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
.elementsTreePopup .content .styles-container .style-group .style-row:not(.composite):hover,
.elementEditorPopup .content .styles-container .style-group .style-row:not(.composite):hover,
.stylesEditorPopup .content .styles-container .style-group .style-row:not(.composite):hover {
  background-color: #ededed;
}
.elementsTreePopup .content .styles-container .style-group .style-row .style-property,
.elementEditorPopup .content .styles-container .style-group .style-row .style-property,
.stylesEditorPopup .content .styles-container .style-group .style-row .style-property {
  font-family: monospace;
}
.elementsTreePopup .content .styles-container .style-group .style-row .style-value-input,
.elementEditorPopup .content .styles-container .style-group .style-row .style-value-input,
.stylesEditorPopup .content .styles-container .style-group .style-row .style-value-input {
  padding: 2px 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 130px;
  outline: none;
}
.elementsTreePopup .content .styles-container .style-group .style-row .style-value-input.error,
.elementEditorPopup .content .styles-container .style-group .style-row .style-value-input.error,
.stylesEditorPopup .content .styles-container .style-group .style-row .style-value-input.error {
  border-color: red;
}
.elementsTreePopup .content .styles-container .style-group .style-row .custom-style-value-input.error,
.elementEditorPopup .content .styles-container .style-group .style-row .custom-style-value-input.error,
.stylesEditorPopup .content .styles-container .style-group .style-row .custom-style-value-input.error {
  border-color: red;
}
.elementsTreePopup .content .styles-container .style-group .style-row .unit,
.elementEditorPopup .content .styles-container .style-group .style-row .unit,
.stylesEditorPopup .content .styles-container .style-group .style-row .unit {
  color: #666;
}
.elementsTreePopup .content .styles-container .style-group .style-row.composite,
.elementEditorPopup .content .styles-container .style-group .style-row.composite,
.stylesEditorPopup .content .styles-container .style-group .style-row.composite {
  font-weight: bold;
}
.elementsTreePopup .content .styles-container .style-group .style-row.composite .style-property,
.elementEditorPopup .content .styles-container .style-group .style-row.composite .style-property,
.stylesEditorPopup .content .styles-container .style-group .style-row.composite .style-property {
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.elementsTreePopup .content .styles-container .style-group .style-row.composite .style-property:hover::after,
.elementEditorPopup .content .styles-container .style-group .style-row.composite .style-property:hover::after,
.stylesEditorPopup .content .styles-container .style-group .style-row.composite .style-property:hover::after {
  opacity: 1;
}
.elementsTreePopup .content .styles-container .style-group .style-row.composite .style-property.open::before,
.elementEditorPopup .content .styles-container .style-group .style-row.composite .style-property.open::before,
.stylesEditorPopup .content .styles-container .style-group .style-row.composite .style-property.open::before {
  transform: translateY(-50%) rotateZ(0deg);
}
.elementsTreePopup .content .styles-container .style-group .style-row.composite .style-property::before,
.elementEditorPopup .content .styles-container .style-group .style-row.composite .style-property::before,
.stylesEditorPopup .content .styles-container .style-group .style-row.composite .style-property::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%) rotateZ(-90deg);
  width: 10px;
  height: 10px;
  background-image: url(../builderImages/downarrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out;
}
.elementsTreePopup .content .styles-container .style-group .style-row.composite .style-property:after,
.elementEditorPopup .content .styles-container .style-group .style-row.composite .style-property:after,
.stylesEditorPopup .content .styles-container .style-group .style-row.composite .style-property:after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -7px;
  width: calc(100% + 7px);
  height: calc(100% + 6px);
  border-radius: 5px;
  background-color: #ededed;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.elementsTreePopup .content .styles-container .style-group .style-row.composite .style-value-input,
.elementEditorPopup .content .styles-container .style-group .style-row.composite .style-value-input,
.stylesEditorPopup .content .styles-container .style-group .style-row.composite .style-value-input {
  width: 130px;
}
.elementsTreePopup .content .styles-container .style-group .style-row.warn,
.elementEditorPopup .content .styles-container .style-group .style-row.warn,
.stylesEditorPopup .content .styles-container .style-group .style-row.warn {
  flex-wrap: wrap;
}
.elementsTreePopup .content .styles-container .style-group .style-row.warn .warning,
.elementEditorPopup .content .styles-container .style-group .style-row.warn .warning,
.stylesEditorPopup .content .styles-container .style-group .style-row.warn .warning {
  display: block;
}
.elementsTreePopup .content .styles-container .style-group .style-row .warning,
.elementEditorPopup .content .styles-container .style-group .style-row .warning,
.stylesEditorPopup .content .styles-container .style-group .style-row .warning {
  display: none;
  flex: 0 0 100%;
}
.elementsTreePopup .content .styles-container .style-group.group_text .row_color input, .elementsTreePopup .content .styles-container .style-group.group_border .row_border-color input, .elementsTreePopup .content .styles-container .style-group.group_background .row_background-color input,
.elementEditorPopup .content .styles-container .style-group.group_text .row_color input,
.elementEditorPopup .content .styles-container .style-group.group_border .row_border-color input,
.elementEditorPopup .content .styles-container .style-group.group_background .row_background-color input,
.stylesEditorPopup .content .styles-container .style-group.group_text .row_color input,
.stylesEditorPopup .content .styles-container .style-group.group_border .row_border-color input,
.stylesEditorPopup .content .styles-container .style-group.group_background .row_background-color input {
  width: 110px;
}
.elementsTreePopup .content .styles-container .subStylesGroup,
.elementsTreePopup .content .styles-container .flexItems,
.elementsTreePopup .content .styles-container .absoluteItems,
.elementEditorPopup .content .styles-container .subStylesGroup,
.elementEditorPopup .content .styles-container .flexItems,
.elementEditorPopup .content .styles-container .absoluteItems,
.stylesEditorPopup .content .styles-container .subStylesGroup,
.stylesEditorPopup .content .styles-container .flexItems,
.stylesEditorPopup .content .styles-container .absoluteItems {
  display: none;
}
.elementsTreePopup.show,
.elementEditorPopup.show,
.stylesEditorPopup.show {
  display: block;
}

.componentsBox,
.stylesBox {
  display: none;
}
.componentsBox.show,
.stylesBox.show {
  display: flex;
}

.selectedElement {
  font-size: 14px;
}

.pcr-copy {
  font-size: 0 !important;
  box-shadow: none !important;
  background-image: url(../builderImages/copy.svg) !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 28px !important;
  height: 28px !important;
  background-color: #f1f3f4 !important;
  padding: 5px !important;
  transition: all 0.3s ease-in-out !important;
}
.pcr-copy:hover {
  background-color: #c7c9ca !important;
}
.pcr-copy.copied {
  background-image: url(../builderImages/check.svg) !important;
}
.pcr-copy.error {
  background-image: url(../builderImages/error.svg) !important;
}

.selectable {
  position: relative;
  box-sizing: border-box;
  display: none;
}
.selectable.initialized {
  display: block;
}
.selectable input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  padding: 2px 5px;
  font-size: 12px;
}
.selectable > input {
  background-image: url(../builderImages/downarrow.svg);
  background-position: calc(100% - 5px) center;
  background-size: 10px;
  background-repeat: no-repeat;
}
.selectable .customOption {
  position: relative;
}
.selectable .customOption .back {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  font-size: 0;
  background-image: url(../builderImages/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}
.selectable .customOption .enter {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  font-size: 0;
  background-image: url(../builderImages/check-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}
.selectable .customOption input {
  padding-left: 20px;
  padding-right: 20px;
}
.selectable .selectables {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px 2px rgba(145, 145, 145, 0.6);
  display: none;
}
.selectable .selectables .options {
  width: 100%;
  padding: 5px;
  margin: 0;
  background-color: white;
  max-height: 125px;
  overflow: auto;
  border-radius: 10px;
}
.selectable .selectables .options::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.selectable .selectables .options::-webkit-scrollbar {
  width: 3px;
}
.selectable .selectables .options::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(179, 174, 174, 0.8);
}
.selectable .selectables .options .option {
  padding: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px 20px 3px 5px;
  font-size: 12px;
}
.selectable .selectables .options .option:hover {
  background-color: dodgerblue;
  color: white;
}
.selectable .selectables .options .option.selected {
  background-color: #cccccc;
  background-image: url(../builderImages/check-black.svg);
  background-position: calc(100% - 5px) center;
  background-size: 10px;
  background-repeat: no-repeat;
}
.selectable .selectables .options .option.selected:hover {
  background-color: dodgerblue;
  color: white;
  background-image: url(../builderImages/check-white.svg);
}
.selectable .selectables .options .option.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.shadowGenerator {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 0 5px 5px 5px;
  border-radius: 5px;
}
.shadowGenerator .preview-box {
  width: 100px;
  height: 30px;
  background: #ffffff;
  transition: all 0.3s ease;
  line-height: 30px;
  border: 1px solid #ccc;
  margin: 20px auto;
  text-align: center;
  font-style: italic;
  border-radius: 5px;
}
.shadowGenerator .controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.shadowGenerator .xy-offset-container {
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
  position: relative;
  border: 1px solid #ccc;
  background: #eee;
  margin-right: 10px;
  position: relative;
}
.shadowGenerator .xy-offset-container::before, .shadowGenerator .xy-offset-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
}
.shadowGenerator .xy-offset-container::before {
  width: 1px;
  height: 100%;
}
.shadowGenerator .xy-offset-container::after {
  width: 100%;
  height: 1px;
}
.shadowGenerator .xy-offset-handle {
  width: 10px;
  height: 10px;
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  cursor: grab;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.shadowGenerator .values-container {
  flex: 0 0 calc(100% - 65px);
}
.shadowGenerator label {
  display: flex;
  justify-content: space-between;
}
.shadowGenerator label .lbldiv {
  width: 60%;
}
.shadowGenerator .chckbx #inset {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.shadowGenerator .chckbx #inset:checked ~ label::before {
  background-color: dodgerblue;
}
.shadowGenerator .chckbx #inset:checked ~ label::after {
  background-color: white;
  right: 2px;
  content: "1";
  color: dodgerblue;
}
.shadowGenerator .chckbx label {
  position: relative;
  display: block;
  cursor: pointer;
}
.shadowGenerator .chckbx label::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #ccc;
  transition: all 0.3s ease-in-out;
}
.shadowGenerator .chckbx label::after {
  content: "0";
  display: block;
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000;
  text-align: center;
  line-height: 16px;
  color: white;
  transition: all 0.3s ease-in-out;
}
.shadowGenerator .shadowcolordiv input {
  width: 100px;
}
.shadowGenerator input {
  width: 50px;
  border: 1px solid #ddd;
}

#advancedStyles {
  resize: vertical;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 100px;
}

.pseudoP::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid red;
}

.groupTitle .selectorId {
  color: rgb(114, 201, 172);
}
.groupTitle .selectorClasses {
  color: #940101;
}
.groupTitle .childselector {
  color: #948f01;
}
.groupTitle .pseudo {
  color: #aaaaaa;
}
.groupTitle .selectorId,
.groupTitle .selectorClasses,
.groupTitle .childselector {
  margin-left: 5px;
}

.elementTab_cssSelectorValue,
.cssSelectorValue {
  margin-bottom: 10px;
  line-height: 14px;
  font-size: 12px;
  display: block;
}

/*# sourceMappingURL=webbuilder.css.map */
